{erl_opts, [debug_info]}

.

{deps,
 [{cowboy, "2.10.0"},
  {jsx, "3.1.0"},
  {poolboy, "1.5.2"},
  {gun, "2.1.0"},
  {telemetry, "1.2.1"}]}

.

{relx,
 [{release,
   {don_erleone, "0.1.0"},
   [don_erleone,
    runtime_tools,
    sasl,
    cowboy,
    jsx,
    poolboy,
    gun,
    telemetry,
    ssl,
    crypto]},
  {sys_config_src, "./config/sys.config.src"},
  {vm_args_src, "./config/vm.args.src"},
  {mode, prod},
  {extended_start_script, true}]}

.

{plugins, [rebar3_format, rebar3_auto, rebar3_vendor]}

.

{shell,
 [{config, "config/local.sys.config"},
  {apps, [don_erleone]}]}

.

{format,
 [{formatter, otp_formatter},
  {options,
   #{paper => 100, preserve_empty_lines => true,
     inline_fields => all, inline_attributes => all,
     inline_items => all, inline_clause_bodies => all,
     inline_expressions => all, layout => classic,
     sub_rules => [{fun_clause, #{indent => 4}}]}}]}

.

{profiles, [{test, [{deps, [{meck, "0.9.2"}]}]}]}

.
