{erl_opts, [debug_info]}.

{deps, [{cowboy, "2.10.0"}, {jsx, "3.1.0"}]}.

{relx, [
    {release, {don_erleone, "0.1.0"}, [don_erleone, inets, cowboy, sasl, jsx]},
    {dev_mode, false},
    {include_erts, true},
    {extended_start_script, true}
]}.

{plugins, [rebar3_format, rebar3_auto, rebar3_vendor]}.

{shell, [{config, "config/sys.config"}, {apps, [don_erleone]}]}.

{format, [
    {formatter, otp_formatter},
    {options, #{
        paper => 150,
        inline_fields => none,
        inline_attributes => none,
        preserve_empty_lines => true
    }}
]}.
