[
   {don_erleone, 
    [
      {ollama_model, "qwen3.5:9b"},
      {ollama_url, "http://localhost:11434/api/chat"},
      {mcp_url, "http://localhost:30090/mcp"},
      {timeout, 3600000},
      {sub_model, "qwen3.5:9b"},
      {sub_timeout, 120000}
    ]
   },
   {mnesia, [{dir, "/data/mnesia"}]},
   {kernel, [
       {logger_level, info},
       {logger, [
           {handler, default, logger_std_h, #{
               formatter => {logger_formatter, #{
                   single_line => true,
                   template => [time, " [", level, "] ", msg, "\n"]
               }}
           }}
       ]}
   ]},
   {sasl, [{sasl_error_logger, false}]}
].