[
   {don_erleone, [
      {ollama_model, "llama3.1:8b"},  % qwen3.5:9b  - This takes precedence over load_config()
      {ollama_url, "http://localhost:11434/api/generate"},
      {timeout, 3600000}
   ]},
   {mnesia, [
    %% SRE Tip: Use a persistent path, not a temporary one
    {dir, "data/mnesia"} 
  ]},
   {kernel, [
      {logger_level, info} % This is often enough for the default handler
   ]},
   {sasl, [
      {sasl_error_logger, false},
      {errlog_type, error}
   ]}
]. 